<div class="ui inverted top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="ui mini image" src="assets/angular.svg">
      &nbsp;
      {{ title }}
    </a>
    <a routerLink="/profile" class="header item" routerLinkActive="router-link-exact-active">Profile</a>
    <a class="item" *ngIf="!(authService.isAuthenticated$ | async)" (click)="loginWithRedirect()">Login</a>
    <a id="logout-button" class="item" *ngIf="(authService.isAuthenticated$ | async)" (click)="logout()">Logout</a>
  </div>
</div>

<div class="ui text container" style="margin-top: 7em;">
  <router-outlet></router-outlet>
</div>
