.profile-card {
  max-width: 500px;
  margin: 8px 0;
}

mat-card img {
  object-fit: cover;
  border-radius: 50%;
}

pre {
  /*
  white-space: pre-wrap;
  word-wrap: break-word;
  */
  overflow: auto;
  word-break: keep-all;
}