<div class="flex" *ngIf="authService.user$ | async as user">
  <div class="m-auto">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          <img mat-card-sm-image [src]="user.picture" alt="User's profile picture">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <pre>{{ profileJson }}</pre>
      </mat-card-content>
    </mat-card>
    </div>    
  </div>
